body{
    background-color: #ffffff;
}
.header-part{
    background-color: #fffbf0;
   
    
}

.logo img{
    width: 350px;
}
.nav-design ul li{
    padding:12px;
    font-weight: bold;
}

.div-width img{
    height:400px;
    padding-left:50px;
}
#penguine{
    color: #fabe4c;
    font-size:62px;
    font-weight:600;
   
}
#winter{
    font-size:62px; 
    color:#363958 ;
    font-weight:600;
    
}
.btn-color{
   background-color:  #9bb438;
   padding: 15px 20px 15px 15px;
   border: 0px;
   border-radius: 10px;
   color: white;
   align-items: center;
}
.btn-color img{
   height:25px;
   padding:0px 10px;
}

.woman-jacket{
   margin-bottom: 50px;
    color:#363958 ;
    font-weight: bold;
    margin-top: 150px;
}
.card-border{
background-color:#fff;
border-radius: 15px;
box-shadow:5px 5px 2px rgb(245, 240, 240);



}
.woman-jacket-card{
  width:330px;
  border: 0;
  background-color:#f1f1f1;
  border-radius: 15px;
  margin-top: 10px;
  
}
.card-title{
    color: #363958 ;
}
.price-color{
    color:#fabe4c ;
}

.woman-jacket-card img{
    padding: 15px 30px;
    height: 50%;
    width: 100%;
 
}
.sele-btn .card-btn{
    padding: 15px 20px 15px 10px ;
    font-size: 15px;
    align-items:right;
    margin-left: 90px;
}
.service-section{
    flex-direction:column;
    margin-top: 150px;
}
.service-details{
    margin-left:50px;
}
.shoping-cart{
   width: 800px;
}
.shoping-image{
    width: 100%;
    height:400px;
}
.service-available{
    display: flex;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 5px 10px 3px rgb(245, 240, 240);
    padding:15px 3px 15px 8px;
    border-radius: 10px;
    margin-right:20px;
}
.shoping-image{
    margin-top: 40px;
}
#subscribe{
    background-color:#d2b4b8;
    height: 300px;
    border-radius: 10px;
    align-items: center;

}
input{
    border-radius: 10px; 
    padding-left: 10px;
    margin-left: 10px;
}

.submit-btn{
    border-radius: 10px;
}
   
